br
h1 Welcome to our Semester Project
h3(style="color: darkblue") This is the routing page for all documentation and the application

a(href='https://bonipe.herokuapp.com/', target='_blank')
    button.btn.btn-primary(type='submit')
        span.glyphicon.glyphicon-arrow-left(aria-hidden='true')
        |  Go to the Application